body {
    margin: 0;
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0%;
    display: block;
    background-color: aqua;
    box-shadow: 0px 2px 3px rgb(21, 233, 91);
}

main {
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    align-content: space-around;
}

.colum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexcard {
    display: flex;
    width: 300px;
    height: 200px;
    margin: 10px;
    box-shadow: 2px 2px 3px black;
    padding: 10px;
    background-color: rgb(0, 255, 170);
}